# Python
source .venv/bin/activate

# Starship
eval "$(starship init bash)"

# Task
eval "$(task --completion bash)"

# Vscode terminal completion
# [[ "$TERM_PROGRAM" == "vscode" ]] && . "$(code --locate-shell-integration-path bash)"
